html, body {
  background-color: #efefff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}


canvas {
  margin: 0 auto;
  display: block;
  padding: 10px;
}

button {
  padding: 0;
  border: 1px solid grey;
  background: none;
  /*height: 50px;*/
  /*width: 50px;*/
}

/* Workaround for non-button */
.image-upload {
  border: 1px solid grey;
  background: none;
  height: 50px;
  width: 50px;
}

.mp-control {
  padding: 0;
  border: 1px solid grey;
  background: none;
}

.title {
  font-family: "Trebuchet MS", sans-serif;
}

.image-upload > input {
    display: none;
}

.center {
  margin: 0 auto;
  width: 80%;
  display: block;
  text-align: center;
  /*padding: 10px;*/
}

.inline {
  display: inline-block;
}

/* The slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(47px);
  -ms-transform: translateX(47px);
  transform: translateX(47px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* DOWNLOAD CANVAS */
/*body {
    background-color:#555557;
    padding:0;
    margin:0;
    overflow:hidden;
    font-family:sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
/*canvas {
    border:1px solid #000;
    float:left;
    clear:both;
}*/

#d1 {
    float:left;
    cursor:pointer;
    color:#ccc;
    padding:3px;
}
#d1:hover {
    color:#fff;
}
.image-download > input
{
    display: none;
}
